<form role="form" action="/datasources/<%= datasource._id  %>/addsignal" method="post">

  <div class="form-group ">
    <label class="control-label " for="select">
       Signal type:
      </label>
    <select class="select form-control" id="signal_type" name="signal_type">
      <option value="timestamp">
        Timestamp
       </option>
       <option value="sensor_signal">
        Sensor data
       </option>
      <option value="general_signal">
        General
       </option>
        <option value="generated_signal">
        Generated signal
       </option>
      </select>
  </div>




  <div class="form-group row">
    <!-- Signal name -->
    <div class="col-md-4">
      <label for="signal_name" class="col-form-label">Name</label>
    </div>
    <div class="col-md-8">
      <input type="text" class="form-control" name="signal_name" id="signal_name" value="signal">
    </div>
  </div>
  
   <div class="form-group row">
    <!-- Signal name -->
    <div class="col-md-4">
      <label for="signal_description" class="col-form-label">Description</label>
    </div>
    <div class="col-md-8">
      <input type="text" class="form-control" name="signal_description" id="signal_description" placeholder="Optional">
    </div>
  </div>

 


  <div id="generated_signal" style="display:none;">
    <hr>
    <div class="form-group row">
      <div class="col-md-4">
        <label for="signal_name" class="col-form-label">Start date</label>
      </div>
      <div class="col-md-4">
        <input type="date" name="start_date" id="start_date">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <label for="signal_dt" class="col-form-label">Delay (# of dt)</label>
      </div>
      <div class="col-md-3">
        <label for="signal_dt" class="col-form-label">Gradient (#/dt)</label>
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <div class="form-group row">
      <!-- Signal linear -->
      <div class="col-md-3">
        <label for="linear_gradient" class="col-form-label">Linear component</label>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" name="signal_linear_delay" id="signal_linear_delay" placeholder="" value="0">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" name="signal_linear_gradient" id="signal_linear_gradient" placeholder="" value="0">
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <label for="signal_dt" class="col-form-label">Delay (# of dt)</label>
      </div>
      <div class="col-md-3">
        <label for="signal_dt" class="col-form-label">Magnitude</label>
      </div>
      <div class="col-md-3">
        <label for="signal_dt" class="col-form-label">Period</label>
      </div>
    </div>
    <div class="form-group row">
      <!-- Signal periodic -->
      <div class="col-md-3">
        <label for="inputEmail3" class="col-form-label">Periodic component</label>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" name="signal_periodic_delay" id="signal_periodic_delay" placeholder="Delay" value="0">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" name="signal_periodic_mag" id="signal_periodic_mag" placeholder="Magnitude" value="0">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" name="signal_periodic_period" id="signal_periodic_period" placeholder="Period" value="0">
      </div>
    </div>


  </div>


  <div id="general_signal" style="display:none;">

  </div>

  <div id="sensor_signal" style="display:none;">

    <div class="form-group row">
      <!-- Signal timestep -->
      <div class="col-md-4">
        <label for="signal_dt" class="col-form-label">Location</label>
      </div>
      <div class="col-md-8">
        <input type="text" class="form-control" name="sensor_location" id="sensor_location" placeholder="Optional">
      </div>
    </div>


    <div class="form-group row">
      <!-- Signal timestep -->
      <div class="col-md-4">
        <label for="signal_dt" class="col-form-label">Sensor info</label>
      </div>
      <div class="col-md-8">
        <input type="text" class="form-control" name="sensor_type" id="sensor_type" placeholder="Optional">
      </div>
    </div>


  </div>

  <div class="form-group">
    <div>
      <button class="btn btn-primary " name="submit" type="submit">
        Add signal
       </button>
    </div>
  </div>

</form>