 <div class="form-group row">
    <!-- Signal timestep -->
    <div class="col-md-4">
      <label for="signal_dt" class="col-form-label">Timestep (min)</label>
    </div>
    <div class="col-md-8">
      <input type="text" class="form-control" name="signal_dt" id="signal_dt" value="1440">
    </div>
  </div>


<div class="form-group row">
  <div class="col-md-4">
    <label for="file_uri" class="col-form-label">Data type:</label>
  </div>
  <div class="col-md-8">
    <select class="select form-control" id="data_source" name="data_source">
       <option value="data_source_file" selected>
        File
       </option>
      <option value="data_source_rest">
        RESTFul endpoint
       </option>
      </select>
  </div>
</div>

<div class="form-group row" id="data_source_file">
  <!-- Signal timestep -->
  <div class="col-md-4">
    <label for="file_uri" class="col-form-label">URI</label>
  </div>
  <div class="col-md-8">
    <input type="text" class="form-control" name="file_uri" id="file_uri" placeholder="Optional">
  </div>
</div>


<div class="form-group row" id="data_source_rest" style="display:none;">
  <!-- Signal timestep -->
  <div class="col-md-4">
    <label for="rest_uri" class="col-form-label">RESTFul endpoint</label>
  </div>
  <div class="col-md-8">
    <input type="text" class="form-control" name="rest_uri" id="rest_uri" placeholder="Optional">
  </div>
</div>