 <div id="footerwrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h4>About</h4>
				<div class="hline-w"></div>
				<p>Zolware aims to provide a simple and intuiative way to create machine learning and data filtering models for use in any application.</p>
			</div>
			<div class="col-lg-4">
				<h4>Social Links</h4>
				<div class="hline-w"></div>
				<p>
					<!-- <a href="#"><i class="fa fa-dribbble"></i></a> -->
					<a href="https://facebook.com/zolware"><i class="fa fa-facebook"></i></a>
					<a href="https://twitter.com/@zolware"><i class="fa fa-twitter"></i></a>
					<!-- <a href="#"><i class="fa fa-instagram"></i></a> -->
					<!-- <a href="#"><i class="fa fa-tumblr"></i></a> -->
				</p>
			</div>
			<div class="col-lg-4">
				<h4>Our Bunker</h4>
				<div class="hline-w"></div>
				<p>
					Cambridge,<br/>
					02140, MA,<br/>
					United States.<br/>
				</p>
			</div>
		</div>
	</div>
 </div>
<% include commonjs %>