<div class="form-group">
	<% if(datasources) { %>
		<% if(model.states.length > 0) { %>
			<table class="table table-striped custab" id="state_table">
				<thead>
					<tr>
						<th>State</th>
						<th>Type</th>
						<th class="text-center"></th>
					</tr>
				</thead>
				<% for(var st=0; st < model.states.length; st++) { %>
					<tr>
						<td>
							<%= model.states[st].name %>
						</td>
						<td>
							<%= model.states[st].type %>
						</td>
						<td>
							<% if(model.states[st].type !== "signal") { %>
								<a id="remove_state" href="" class="btn btn-xs btn-primary" data-state-id="<%= model.states[st]._id %>">Remove</a>
							<% } %>
						</td>
					</tr>
					<% } %>
			</table>
			<% } %>
				<% } %>
	<a id="add_state_toggle_button" href="" class="btn btn-sm btn-primary">Add state</a>
</div>

<div id="add_state_dropdown" style="display:none;">
	<form id="add_state_form">
		
	
		<div class="form-group ">
			<label class="control-label " for="state_name">
       State name
      </label>
			<input class="form-control" id="state_name" name="state_name" type="text" />
		</div>
		<div class="form-group">
			<div>
				<a id="add_state" href="" class="btn btn-sm btn-primary">Save</a>
			</div>
		</div>
		</form>
</div>