<div class="row">
  <div class="col-md-12 margin-bottom-30">
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption">
          <span class="caption-subject text-uppercase"> Model Summary</span>
        </div>
        <div class="actions">

        </div>
      </div>
      <div class="portlet-body">
        <h4><%= model.name %> </h4>
        <p>
          <%= model.description %>
        </p>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <p>Model is running
              <a href="#" class="btn btn-sm btn-danger pull-right" id="stop_model">Stop model</a>
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 margin-bottom-30">
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption caption-red">
          <span class="caption-subject text-uppercase" id="signals_title"> Logfile</span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-lg-12">
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>