<fieldset>

	<div class="form-group">
		<select id="datasource_select" name="datasource" class="form-control" <% if(model.datasource != undefined) { %> data-model_datasource="<%= model.datasource._id %> <% } %>" >
		</select>
	</div>
</fieldset>

<div class="form-group">
			<table class="table table-striped custab" id="signals_table">
			</table>
</div>