<div class="form-group">
	<table class="table table-striped custab" id="state_table">
	</table>
	Timestamp signals are not shown.
	<hr>
	<a id="add_state_toggle_button" href="" class="btn btn-sm btn-primary">Add state</a>
</div>

<div id="add_state_dropdown" style="display:none;">
	<form id="add_state_form">
		
	
		<div class="form-group ">
			<label class="control-label " for="state_name">
       State name
      </label>
			<input class="form-control" id="state_name" name="state_name" type="text" />
			<input class="form-control" id="state_type" name="state_type" type="hidden" value="hidden"/>
		</div>
		<div class="form-group">
			<div>
				<a id="add_state" href="" class="btn btn-sm btn-primary">Save</a>
			</div>
		</div>
		</form>
	
</div>