<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title> Data sources | Zolware </title>
    
    <% include ./partials/headcommon %>
    <link href="css/style.css" rel="stylesheet">
		<link href="css/project.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <% include ./partials/navbar %>
		<div id="contentwrap">
			<div class="container">
				<div class="row">
					<div class="col-md-12 margin-bottom-30">
						<div class="portlet">
							<div class="portlet-title">
								<div class="caption caption-blue">
									<span class="caption-subject text-uppercase">Your Data sources</span>
								</div>
								<div class="actions">
									<button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#newDatasourceModal">
									Add 
									</button>
								</div>
							</div>
							<div class="portlet-body">
								<% include ./partials/your_datasources %>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12 margin-bottom-30">
						<div class="portlet">
							<div class="portlet-title">
								<div class="caption caption-blue">
									<span class="caption-subject text-uppercase">Shared Data sources</span>
								</div>
								<div class="actions">
								</div>
							</div>
							<div class="portlet-body">
								<% include ./partials/shared_datasources %>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>

	
		<% include ./partials/footer %>
				<!-- Modals -->
		<% include ./partials/delete_modal %>
		<% include ./partials/add_datasource_modal %>
		<script src="/static/js/common.js"></script>
		<script src="/static/js/add_datasource.js"></script>
  </body>
</html>