<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>Zolware</title>
    
    <% include ./partials/headcommon %>
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
		<% include ./partials/navbar %>
		<div id="headerwrap">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 himg">
						<img src="/static/img/octopus_512_trans.png" class="img-responsive">
					</div>
					<div class="col-lg-8 col-lg-offset-2">
						<h3>Simple and intuiative machine learning</h3>
						<h1>Machine learning & data filtering experts</h1>	
					</div>
				</div>
			</div>
		</div>
		<div id="service">
			<div class="container">
				<div class="row centered">
					<div class="col-md-4">
						<i class="fa fa-heart-o"></i>
						<h4>Data acquisition</h4>
						<p>Register files, IoT devices and industrial sensors to collect together data.</p>
						<!-- <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
					</div>
					<div class="col-md-4">
						<i class="fa fa-flask"></i>
						<h4>Data filtering</h4>
						<p>Create filters such as Kalman filters for use in any application.</p>
						<!-- <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
					</div>
					<div class="col-md-4">
						<i class="fa fa-trophy"></i>
						<h4>Machine learning</h4>
						<p>Leverage machine learning to process and make decisions based upon your data in real-time.</p>
						<!-- <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
					</div>		 				
				</div>
			</div>
		</div>
		<% include ./partials/footer %>
	</body>
</html>
