<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>Zolware | <%= model.name %></title>
    
    <% include ./partials/headcommon %>
    <link href="/static/css/style.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/css/model.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
 	</head>
 	<body onload='zolwareModelApp.modelApp.init();' data-model_id="<%= model._id %>">
    <% include ./partials/navbar %>
		<div id="contentwrap">
			<div class="container">
				<div id="modelRunning" <% if(model.running == false) {%> style="display:none;" <% } %> >
					<% include ./partials/model_running %>
				</div>
				<div id="modelNotRunning" <% if(model.running == true) {%> style="display:none;" <% } %>>
					 <% include ./partials/model_not_running %>
				</div>
			</div>
		</div>
		<!-- Modals -->
		<% include ./partials/edit_model_modal %>
		<% include ./partials/delete_component_modal %>

	  <% include ./partials/footer %>
		<script src="/static/js/common.js"></script>
		<script src="/static/js/modelapp.js"></script>
		<script src="/static/js/view.js"></script>
		<script src="/static/js/modelcode.js"></script>
		<script src="/static/js/handlers.js"></script>
  </body>
</html>